.fondo {

    position: absolute;
    width: 1440px;
    height: 1026px;
    left: 0px;
    top: 0px;

}

.f-izquierda {

    position: absolute;
    left: 0px;
    right: 720px;
    top: 0px;
    bottom: 0px;

    background: #666666;

}

.f-derecha {

    position: absolute;
    left: 720px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: #333333;
}

.navbar .navbar-brand {

    font-family: "Waiting for the Sunrise";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;

    color: #B9BC1D;

}

body {
    background-image: url(images/FrontPage.svg), url(images/Back.png);
    background-position: center, center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto, cover;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(185,188,29, 100.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.custom-toggler.navbar-toggler {
    border-color: #B9BC1D;
}

.btn-group.btns {
    background: #666666;
    mix-blend-mode: lighten;
    border-radius: 20px;
}

.container.name {

    background: #333333;
    border-radius: 20px;
}